
/* buttons */

a:has(.button){
  text-decoration: none;
  color: var(--text-color-primary);
}

.button {
  border-radius: var(--border-radius-small);
  background: rgba(0,0,0, 0.1);
  padding: 6px 10px;
  cursor: pointer;
}

.button:hover {
  background: rgba(0,0,0, 0.2);
}

/* links */
.link {
  cursor: pointer;
}




/* cards */

.cards-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


.card {
  border-radius: 4px;
  background-color: var(--bg-secondary);
  border: 1px solid #eee;
  padding: 12px;
}


.cards-medium .card {
  flex: 1 1 350px;
  max-width: 500px;
  min-width: 300px;
}