
/* buttons */
a:has(.button){
  text-decoration: none;
  color: var(--color-text-primary);
}

button.button {
  border: none;
  font-size: 16pt;
}

.button {
  border-radius: var(--border-radius-small);
  background: var(--bg-buttonBg-primary);
  color: var(--color-buttonText-primary);
  padding: 6px 10px;
  width: fit-content;
}

.button:not(.disabled):hover {
  background: var(--bg-buttonBg-primary-hover);
}

.button.disabled {
  background-color: var(--bg-buttonBg-primary-disabled);
  cursor: default;
}


/* icons */
.icon-button-wrapper {
  height: calc(var(--icon-height) + 6pt);
  width: calc(var(--icon-height) + 6pt);
  padding: 3pt;
  border-radius: 3.5px;
}

div.icon-button-wrapper:hover {
  background: var(--bg-secondary);
}

span.icon-container {
  display: inline-block;
  height: var(--icon-height);
  width: var(--icon-width);
}

.icon {
  height: 100%;
  width: 100%;
  filter: var(--filter-icon-primary);
}

.icon-x {
  padding: 2px;
}


/* links */
.link {
  cursor: pointer;
}


/* cards */
.cards-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


.card {
  border-radius: 4px;
  background-color: var(--bg-secondary);
  border: 1px solid #eee;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card hr {
  border-color: var(--color-text-primary-40);
}

.cards-medium .card {
  flex: 1 1 350px;
  max-width: 500px;
  min-width: 300px;
}

.card .card-title {
  display: flex;
  justify-content: space-between;
}

.card .card-subtitle.ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .card-buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
}