@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com");


:root {
  /* brekapoitns */
  --brk-xsml: 375px;
  --brk-sml: 500px;
  --brk-md: 800px;
  --brk-lg: 1200px;
  --brk-xl: 1400px;

  --page-title-height: 30px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-family: "Lato", serif;
  font-size: 16pt;
  height: 100%;
  width: 100%;
  background: #2d3236;
  color: white;
}

h1 {
  font-family: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

body {
  height: 100%;
  width: 100%;
}

#content-wrapper {
  max-width: 1800px;
  margin: auto;
  height: calc(100% - 60px);
  padding: 16px;
  overflow-y: auto;
}

#page-title h1 {
  font-size: 16pt;
  height: var(--page-title-height);
}

.flex-spacer {
  flex: 1;
}

/* icons */
.icon {
  height: 20pt;
  width: 20pt;
  filter: invert(100);
}




/* layouts */
.max-width-1000 {
  max-width: 1000px;
}