
:root {
  --color-highlight: #f5b951;
  --color-highlight-60: rgba(245, 185, 81, 0.6);

  --bg-primary: white;
  --bg-secondary: white;
  --bg-navbar: #f6f8fa;

  --bg-primary-hover: #f0f0f0;
  --bg-secondary-hover: white;


  --highlight-border-color: var(--color-highlight);
  --highlight-border-color-60: var(--color-highlight-60);


  /* text colors */
  --color-text-primary: black;
  --color-text-primary-60: rgba(0,0,0, 0.6);
  --color-text-primary-40: rgba(0,0,0, 0.4);

  /* icon colors */
  --icon-filter-highlight: invert(74%) sepia(31%) saturate(787%) hue-rotate(355deg) brightness(99%) contrast(94%);
}