

.mealplan-card:hover {
  cursor: pointer;
}

.mealplan-card .card-title .icon-star {
  filter: var(--icon-filter-highlight);
}

.mealplan-card h3 {
  color: var(--color-text-primary-60);
}


#share-plan-popup {
  min-width: 300px;
  max-width: 400px;
}