* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background: #2d3236;
  color: white;
}

nav {
  height: 60px;
  background: #35393d
}

nav > h1 {
  padding: 0 16px;
  font-size: 14pt;
  line-height: 60px;
}

body {
  height: 100%;
  width: 100%;
}

#content-wrapper {
  padding: 16px;
}

#page-title {
  font-size: 14pt;
}


#meal-plan-days {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.day h1 {
  font-size: 13pt;
}

.meal {
  border-radius: 5px;
  background-color: #212325;
  padding: 12px;
  display: flex;
  gap: 12px;
}

.meal img {
  height: 65px;
  width: 65px;
}

.meal .desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meal .desc h2 {
  font-size: 16pt;
}