
.page-splitter {
  display: flex;
  gap: 16px;
  max-height: calc(100% - var(--page-title-height));
  overflow-y: hidden;
  height: 100%;
}

.page-splitter > div {
  height: 100%;
}

.page-splitter .left {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 600px;
  overflow-y: auto;
  padding-right: 8px;
}

.page-splitter .right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
  overflow-y: auto;
  padding-right: 8px;
}

@media only screen and (max-width: 800px) {
  .page-splitter .right {
    display: none;
  }
}


@media only screen and (min-width: 801px) {
  #meal-plan-selector {
    display: none;
  }
}

#meal-plans {
  padding: 12px;
}

#meal-plans h1 {
  font-size: 16pt;
}

.meal-plan-list {
  color: var(--color-text-primary);
  padding-top: 12px;
}

.meal-plan-list a {
  color: var(--color-text-primary);
  text-decoration: none;
}

.meal-plan-list hr {
  border-color: var(--color-text-primary);
  border-style: solid;
  margin-top: 8px;
  margin-bottom: 8px;
}

.meal-plan {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.meal-plan.selected {
  background: var(--bg-secondary);
}

.meal-plan.selected:hover {
  background: var(--bg-secondary-hover);
}

.meal-plan:hover {
  background: var(--bg-primary-hover);
}

.meal-plan > h2 {
  font-size: 16pt;
}

.meal-plan > h3 {
  font-size: 12pt;
  color: var(--color-text-primary-60);
}

#new-meal-plan-button {
  height: 61px;
  padding: 8px;
  margin-top: 8px;
  border: 2px dashed var(--color-text-primary-40);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

#new-meal-plan-button div {
  color: var(--color-text-primary-40);
}

#new-meal-plan-button:hover {
  background: var(--bg-primary-hover);
  color: var(--color-text-primary-60);
}

#new-meal-plan-button:hover div {
  color: var(--color-text-primary-60);
}


.no-plan-message {
  text-align: center;
}