
#edit-meal-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#edit-meal-popup > div {
  flex: 1;
  min-width: 250px;
}

#edit-meal-popup .left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#edit-meal-popup .right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#edit-meal-popup .button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

/* desktop only */
@media only screen and (min-width: 801px){
  #edit-meal-popup {
    min-width: 400px;
    flex-direction: row;
  }

  #edit-meal-plan hr.divider {
    height: 100%;
    width: 2px;
  }
}

/* mobile only */
@media only screen and (max-width: 800px){
  #edit-meal-popup .button {
    position: initial;
  }
}