
#meal-plan-days {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.day.passed {
  color: var(--color-text-primary-40);
}

.day h1 {
  font-size: 21pt;
}

@media only screen and (max-width: 500px) {
  .day h1 {
    font-size: 19pt;
  }
}

.day hr {
  width: 30px;
  border: none;
  border-top: 2px solid var(--highlight-border-color);
}

.day.passed hr {
  border-top: 2px solid var(--highlight-border-color-60);
}

.meal {
  border-radius: 4px;
  background-color: var(--bg-secondary);
  border: 1px solid #eee;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.meal:hover {
  background: var(--bg-secondary-hover);
}

.meal img.meal-preview {
  height: 65px;
  width: 125px;
  border-radius: 4px;
  object-fit: cover;
}

.meal .desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meal .desc h2 {
  font-size: 16pt;
}

.meal .desc h3 {
  font-size: 12pt;
  color: var(--color-text-60);
}

@media only screen and (max-width: 500px) {
  .meal .desc h2 {
    font-size: 14pt;
  }
  .meal .desc h3 {
    font-size: 10pt;
  }
}

.meal .refresh-button {
  padding: 8px;
  box-sizing: content-box;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .meal .refresh-button {
    height: 15pt;
    width: 15pt;
  }
}

.meal .refresh-button:hover {
  background: rgba(0,0,0,0.2);
}
