
#meal-plan-days {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.day h1 {
  font-size: 21pt;
}

@media only screen and (max-width: 500px) {
  .day h1 {
    font-size: 19pt;
  }
}

.meal {
  border-radius: 5px;
  background-color: #212325;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.meal:hover {
  background: #313941;
}

.meal img.meal-preview {
  height: 65px;
  width: 65px;
}

.meal .desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meal .desc h2 {
  font-size: 16pt;
}

.meal .desc h3 {
  font-size: 12pt;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 500px) {
  .meal .desc h2 {
    font-size: 14pt;
  }
  .meal .desc h3 {
    font-size: 10pt;
  }
}

.meal .refresh-button {
  padding: 8px;
  box-sizing: content-box;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .meal .refresh-button {
    height: 15pt;
    width: 15pt;
  }
}

.meal .refresh-button:hover {
  background: rgba(0,0,0,0.2);

}
