
nav {
  box-shadow: 0 5px 5px #eee;
}

nav > div {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background: var(--bg-navbar);
  display: flex;
  align-items: center;
  gap: 16px;
}

nav h1 {
  padding: 0 16px;
  font-size: 14pt;
  line-height: 60px;
}

nav a {
  text-decoration: none;
  color: var(--text-color-primary);
}

nav .left {
  display: flex;
  gap: 16px;
}


/* mobile only nav slider */

.nav-slider {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: .3s;
}

.nav-slider.closed {
  width: 0;
}

.nav-slider .exit {
  position: absolute;
  top: 16px;
  right: 16px;
}

.nav-menu {
  height: 100%;
  width: 65%;
  padding: 0 16px;
  background: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-menu .title {
  padding: 0;
  font-size: 21pt;
}