
#meal-plan-days {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.button-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.day {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.day.passed {
  color: var(--color-text-primary-40);
}

.day h1 {
  font-size: 12pt;
}

.day hr {
  width: 30px;
  border: none;
  border-top: 2px solid var(--highlight-border-color);
}

.day.passed hr {
  border-top: 2px solid var(--highlight-border-color-60);
}

.meal {
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.meal.empty-meal {
  height: 90px;
  border: 2px dashed var(--color-text-primary-20);
  color: var(--color-text-primary-60);
  display: flex;
  justify-content: center;
}

.meal.empty-meal:hover {
  background: var(--bg-primary-hover);
}

@media only screen and (max-width: 500px) {
  .meal {
    flex-direction: column;
    align-items: stretch;
  }
}

.meal:hover {
  background: var(--bg-secondary-hover);
}

.meal .meal-preview {
  flex: 1;
  display: flex;
  gap: 12px;
}

.meal img.meal-image {
  height: 65px;
  width: 125px;
  border-radius: 4px;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .meal img.meal-image {
    width: 65px;
  }
}

.meal .desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meal .desc h2 {
  font-size: 16pt;
}

.meal .desc h3 {
  font-size: 12pt;
  color: var(--color-text-primary-60);
}

@media only screen and (max-width: 500px) {
  .meal .desc h3 {
    font-size: 10pt;
  }
}


.meal .buttons {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.meal .refresh-button {
  padding: 8px;
  box-sizing: content-box;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .meal .refresh-button {
    height: 15pt;
    width: 15pt;
  }
}

.meal .refresh-button:hover {
  background: rgba(0,0,0,0.2);
}
