
nav {
  height: 60px;
  padding: 0 30px;
  background: #35393d;
  display: flex;
  align-items: center;
  gap: 16px;
}

nav > h1 {
  padding: 0 16px;
  font-size: 14pt;
  line-height: 60px;
}


nav .left {
  display: flex;
  gap: 16px;
}